[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
flask = "*"
xmltodict = "*"
beautifulsoup4 = "*"
lxml = "*"
pdf417 = "*"
weasyprint = "*"

[dev-packages]
black = "==19.3b0"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
